<% include ../partials/header %>

<div class="container">
  <h1>My Lists</h1>
  <a class="btn btn-default btn-new-list" href="/lists/new"><i class="glyphicon glyphicon-plus"></i> Create New List</a>
  <div class="row">
    <div class="col-sm-12">
      <ul class="list-group">
        <% var friendsLists = false; %>
        <% lists.forEach(function(list) { %>
          <% if (!list.author.id.equals(currentUser.id) && !friendsLists) { %>
            <% friendsLists = true; %>
            </ul>
            </div>
            </div>
            <h2>Friends' Lists</h2>
            <div class="row">
              <div class="col-sm-12">
                <ul class="list-group">
          <% } %>
        <li class="list-group-item">
          <p class="text-lg"><strong><%= list.name %></strong></p>
          <p>
            <% if (!list.author.id.equals(currentUser.id)) { %>
              Created by <a href="/users/profile/<%= list.author.id %>"><strong><%= list.author.username %></strong></a> -
            <% } %><%= list.items.length %> items
          </p>
          <a href="/lists/<%= list._id %>" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-list-alt"></i> Open</a>
        </li>
      <% }) %>
      </ul>
    </div>
  </div>
</div>
<% include ../partials/footer %>
