<% include ../partials/header %>

<div class="container">
  <h1>All Lists</h1>
  <a class="btn btn-primary" href="/lists/new">Add New List</a>
  <h2>My Lists</h2>
  <% var friendsLists = false; %>
  <% lists.forEach(function(list){ %>
    <% if (!list.author.id.equals(currentUser.id) && !friendsLists) { %>
      <% friendsLists = true; %>
      <hr>
      <h2>Friends' Lists</h2>
    <% } %>
    <h3><%= list.name %></h3>
    <p>Created by <strong><%= list.author.username %></strong> - <%= list.items.length %> items</p>
    <a href="/lists/<%= list._id %>" class="btn btn-default btn-sm">More Info</a>
    <% if (currentUser && list.author.id.equals(currentUser._id)){ %>
      <form class="delete-form" action="/lists/<%= list._id %>?_method=DELETE" method="post">
        <button class="btn btn-danger btn-sm">Delete List</button>
      </form>
    <% } %>
  <% }) %>

</div>
<% include ../partials/footer %>
