<% include ../partials/header %>
<div class="container">
  <h1><%= list.name %></h1>
  <p><em>Created by <strong><%= list.author.username %></strong> on <%= list.createdAt.toDateString() %></em></p>
  <a class="btn btn-warning" href="/lists/<%= list._id %>/edit">Edit</a>
  <ul class="list-group">
    <% list.items.forEach(function(item){ %>
      <li class="list-group-item"><%= item %></li>
    <% }) %>
  </ul>
</div>
<% include ../partials/footer %>
