<% include ../partials/header %>
<div class="container">
  <h1><%= list.name %></h1>
  <p><em>Created by <strong><%= list.author.username %></strong> on <%= list.createdAt.toDateString() %></em></p>
  <% if (currentUser && list.author.id.equals(currentUser._id)){ %>
    <form class="delete-form" action="/lists/<%= list._id %>?_method=DELETE" method="post">
      <button class="btn btn-danger">Delete List</button>
    </form>
  <% } %>
  <% console.log(list.items.length); %>
    <ul id="list" class="list-group">
  <% if (list.items && list.items.length > 0){ %>
      <% var i = 0; %>
      <% list.items.forEach(function(item){ %>
        <li id="list-item-<%= i %>" class="list-group-item">
          <span class="list-item-value">
            <input class="list-item-input" type="text" value="<%= item %>">
          </span>
        </li>
        <% i++ %>
      <% }) %>
  <% } %>
  </ul>
  <form action="/lists/<%= list._id %>?_method=PUT" method="POST">
    <input id="new-item-input" class="form-control" type="text" name="list[item]" placeholder="Add item...">
    <input id="new-item-submit" type="submit" class="btn btn-primary">
  </form>
</div>
<script type="text/javascript">var list = <%- JSON.stringify(list) %>;</script>
<script type="text/javascript" src="/scripts/editListItems.js"></script>
<% include ../partials/footer %>
