<!DOCTYPE HTML>
<html>
<head>
<title>ListCollab</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-expand navbar-fixed-top">
    <div class="container-fluid">
  		<div class="navbar-header">
  			<a href="/" class="navbar-brand nav-link">ListCollab</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarToggle"
         aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
  		</div>
  		<div class="collapse navbar-collapse" id="navbarToggle">
        <ul class="nav navbar-nav">
          <% if (currentUser) { %>
            <li class="nav-item <%= typeof page !== 'undefined' && page === 'lists' ? 'active-page' : '' %>"><a class="nav-link" href="/lists">Lists</a></li>
            <li class="nav-item <%= typeof page !== 'undefined' && page === 'users' ? 'active-page' : '' %>"><a class="nav-link" href="/users">Friends</a></li>
            <% if (typeof page !== 'undefined' && page !== 'users'){ %>
              <li class="nav-item user-search">
                <form class="" action="/users/search" method="GET">
                  <input id="search-bar" class="form-control search-bar" type="search" name="search" autocomplete="off" placeholder="Search for friends...">
                </form>
                <div class="search-results hide-search-results">
                  <ul id="users-list" class="list-group">
                  </ul>
                  <button id="btn-hide-results" class="btn btn-default btn-sm btn-hide-results" type="button">Hide Results</button>
                </div>
              </li>
            <% } %>
          <% } %>
        </ul>
        <ul class="nav navbar-nav navbar-right mr-auto mt-2 mt-lg-0">
          <% if (!currentUser) { %>
            <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active-page' : '' %>"><a class="nav-link" href="/login">Login</a></li>
            <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active-page' : '' %>"><a class="nav-link" href="/register">Sign Up</a></li>
          <% } else { %>
            <li class="nav-item"><a class="nav-link" href="#"><strong><%= currentUser.username %></strong></a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
          <% } %>
  			</ul>
  		</div>
    </div>
  </nav>
  <div class="container">
    <% if (error && error.length > 0) { %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
    <% } %>
    <% if (success && success.length > 0) { %>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
    <% } %>
  </div>
